<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Galleries</title>
</head>
<body>
    <h1>My Galleries</h1>

    <a th:href="@{/home}">Back to Home</a>
    <a th:href="@{/galleries/new}">Create New Gallery</a>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="gallery : ${galleries}">
                <td th:text="${gallery.name}"></td>
                <td th:text="${gallery.description}"></td>
                <td>
                    <a th:href="@{/galleries/{id}/photos(id=${gallery.id})}">View Photos</a>
                    <a th:href="@{/galleries/edit/{id}(id=${gallery.id})}">Edit</a>
                    <a th:href="@{/galleries/delete/{id}(id=${gallery.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>